/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

ul {
    list-style: none;
}

.virtual-scroll {
    max-height: 100% !important;
    overflow: inherit !important;
}
