<div class="game-controls-container">
  <form [formGroup]="gameFormGroup" ngxsForm="gameForm" (ngSubmit)="onSubmit()">
    <div class="name-container">
      <mat-form-field>
          <mat-hint>The name of the game</mat-hint>
          <input 
            matInput 
            type="text"
            formControlName="name"
            />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div>
      <wof-scrolling-text formControlName="scrollingText" [maxLength]="scrollingTextLength$ | async">
      </wof-scrolling-text>
      <wof-title-screen-text formControlName="introText" [maxLength]="introTextLength$ | async">
      </wof-title-screen-text>
    </div>

    <button type="submit">Submit</button>
    <!--

    <div>
      <wof-scrolling-text formControlName="scrollingText" [maxLength]="scrollingTextLength$ | async">
      </wof-scrolling-text>
      <wof-title-screen-text formControlName="introText" [maxLength]="introTextLength$ | async">
      </wof-title-screen-text>
    </div>
    
    <mat-divider></mat-divider>

    <div class="progress-container">
      <mat-progress-bar mode="determinate" [value]="puzzlesProgress$ | async"></mat-progress-bar>
      {{totalPuzzles$|async}} of {{puzzlesRequired}} puzzles
    </div>

    <div class="progress-container">
      <mat-progress-bar mode="determinate" [value]="charactersProgress$ | async"></mat-progress-bar>
      {{charactersUsed$|async}} of {{maxCharacters}} max characters
    </div>

    -->

  </form>
</div>
