<form [formGroup]="categoriesForm" ngxsForm="categoriesForm" (ngSubmit)="onSubmit()">
  <mat-tab-group formArrayName="categories">  
    <ng-container *ngFor="let category of categories; let i=index">
      <mat-tab [label]="category.value.name">
        <div class="container" >
          <div>
            <wof-category-control [formControlName]="i"></wof-category-control>

            <mat-form-field>
                <mat-hint>Number of Puzzles to Add</mat-hint>
                <input 
                  matInput 
                  type="number" 
                  min="1" 
                  max="255" 
                  [value]="numPuzzlesToAdd" 
                  (change)="onPuzzlesToAddChange($event)"/>
            </mat-form-field>
            <button mat-button mat-stroked-button type="button" (click)="addPuzzles(category.value.id)">Add Puzzle(s)</button>
          </div>
      
          <wof-puzzles-form 
            [categoryId]="category.value.id"
            [puzzlesToAdd]="addPuzzles$ | async">
          </wof-puzzles-form>
          <!--
          <ng-template matTabContent> 
            <wof-category>
            </wof-category>
          </ng-template>
          -->
        </div> 
      </mat-tab>
    </ng-container>

  </mat-tab-group>

<!--
  <ng-container *ngIf="categoriesControls$ | async">
    <div formArrayName="categories">
      <ng-container *ngFor="let control of categoriesControls.controls; let i = index">
        <div>
          <textarea [formControlName]="i"></textarea>
        </div>
      </ng-container>
    </div>
  </ng-container>
-->
  <button type="submit">Submit</button>
</form>