div.game-controls-container {
    display:flex;
    flex-direction: column;
}

div.progress-container {
    width:300px;
    padding-top:14px;
    padding-bottom:14px;
}

div.name-container,
div.progress-container {
    min-height:200px;
}