<div class="game-controls-container">
  <div class="name-container">
    <form (submit)="onSubmit($event)">
          <mat-form-field>
              <mat-hint>The name of the game</mat-hint>
              <input 
                matInput 
                type="text"
                [value]="gameName$ | async"
                (change)="onNameChange($event)"
                />
          </mat-form-field>
    </form>
    <mat-divider></mat-divider>
  </div>


  <div class="progress-container">
    <mat-progress-bar mode="determinate" [value]="puzzlesProgress$ | async"></mat-progress-bar>
    {{totalPuzzles$|async}} of {{puzzlesRequired}} puzzles
  </div>

  <div class="progress-container">
    <mat-progress-bar mode="determinate" [value]="charactersProgress$ | async"></mat-progress-bar>
    {{charactersUsed$|async}} of {{maxCharacters}} max characters
        
  </div>
</div>
