div.game-controls-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between
}

div.progress-container {
    width:20em;
}

div.name-container,
div.progress-container {
    margin-bottom:1.5em;
}