<form>
    <mat-form-field>
        <mat-hint>7 characters max</mat-hint>
        <input matInput type="text" placeholder="Category Name" [value]="category.name" (change)="onNameChange($event)"/>
    </mat-form-field>
    <button mat-button mat-stroked-button type="button" (click)="addPuzzles()">Add Puzzle(s)</button>
    <mat-form-field>
        <mat-hint>Number of Puzzles to Add</mat-hint>
    <input matInput type="number" min="1" max="255" [value]="numPuzzlesToAdd" (change)="onPuzzlesToAddChange($event)"/>
  </mat-form-field>
</form>
<ul>
  <li *ngFor="let puzzle of (puzzles$ | async); index as i">
    <wof-puzzle [puzzle]="puzzle" [puzzleNum]="i+1"></wof-puzzle>
  </li>
</ul>