<p>
  Handle Files here:
</p>

<div>

  <div>
    <button mat-button 
      mat-stroked-button 
      type="button" 
      (click)="configFileInput.click()">
      Open Config
    </button>
  </div>

  <mat-form-field>
    <mat-select placeholder="Edit Game..." [(value)]="selectedGameId" (selectionChange)="openGame()">
      <mat-option [value]="(lastId$ | async) + 1">Add Game...</mat-option>
      <mat-option *ngFor="let game of games$ | async" [value]="game.id">{{game.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-button 
      mat-stroked-button
      (click)="writeConfig($event)">Write Config
    </button>
  </div> 

</div>



<input #configFileInput type="file" (change)="openConfig($event)" style="display:none; height:0; width:0;"/>
<a #configDownloadLink
  type="file"
  download="wof-config.json" 
  [href]="sanitizedConfigFile$ | async" 
  style="display:none; height:0; width:0;"></a>