<mat-tab-group (selectedTabChange)="onTabChanged($event)">  
  <ng-container *ngIf="categories$ | async as categories">
    <ng-container *ngFor="let category of categories">
      <mat-tab [label]="category.name">
        <div class="container">
          <ng-template matTabContent> 
            <wof-category>
            </wof-category>
          </ng-template>
        </div> 
      </mat-tab>
    </ng-container>
  </ng-container>
</mat-tab-group>

<form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="categoriesControls$ | async">
    <div formArrayName="categories">
      <ng-container *ngFor="let control of categoriesControls.controls; let i = index">
        <div>
          <textarea [formControlName]="i"></textarea>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>

