<mat-form-field class="cat-name-control">
    <mat-hint>7 characters max</mat-hint>
    <input 
      matInput 
      type="text"
      maxlength="7" 
      placeholder="Category Name"
      (input)="onInput($event)"
      (focus)="onFocus()" 
      [value]="category.name"/>
</mat-form-field>

<!--
<button mat-button mat-stroked-button type="button" (click)="addPuzzles()">Add Puzzle(s)</button>
<mat-form-field>
  <mat-hint>Number of Puzzles to Add</mat-hint>
  <input 
    matInput 
    type="number" 
    min="1" 
    max="255" 
    [value]="numPuzzlesToAdd" 
    (change)="onPuzzlesToAddChange($event)"/>
</mat-form-field>
-->

<!--
<p>{{numPuzzles$ | async}} of {{maxPuzzles}} (max) puzzles</p>
-->
